:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: var(--clr-neutral-900);
  display: grid;
  place-items: center;
  line-height: 1.6;
  font-family: sans-serif;
}

.card-container {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-100);
  background-image: url("assets/laptop2.jpeg");
  background-position: center;
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
}

.card-content {
  padding: 1.5em;
  background-image: linear-gradient(
    transparent, 
    hsl(0 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 100%;
  right: 0;
  bottom: 0;
  background: var(--clr-accent-400);
}

