:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
  --clr-bg-body: #13181c;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: var(--clr-bg-body);
  display: grid;
  place-items: center;
  line-height: 1.6;
}

.card-container {
  border: 1px solid white;
}

